<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Ohne diese Zeile hat nur der DEBUG-Build Netz (Flutter traegt sie
         nur in src/debug und src/profile ein) - die Release-App saehe keine
         einzige Box. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- KEINE SICHERUNG, KEIN UMZUG (29.09.2026): in den Einstellungen der
         App liegen die Kopplungsschluessel der Boxen im Klartext, und ein
         Schluessel gehoert zu genau einem Handy. allowBackup schaltet bis
         Android 11 alles ab, ab Android 12 auf manchen Geraeten nur die
         Cloud; den Umzug von Geraet zu Geraet sperrt erst die Regeldatei
         (Begruendung dort, Pruefung in test/android_sicherung_test.dart). -->
    <application
        android:label="MixPiBox"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/mixpi_kein_datenauszug"
        android:usesCleartextTraffic="true"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- TEILEN (27.09.2026): Spotify-Links aus der Spotify-App an die
                 MixPiBox schicken — Alben, Titel, Interpreten. Geteilt wird
                 TEXT („Hör dir … an: https://open.spotify.com/…"), keine Datei. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
